div.container {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
	margin: 0;
	padding: 0;
	border: 0;
	font-family : verdana;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header {
	background-color : yellow;
	text-align : center;
}

h1 {
	font-weight : bold;
}

#float li {
	background : red;
	float : right;
	list-style : none;
	padding-bottom : 10px;
	padding-top : 10px;
}

#float li a {
	border-left : 10px solid rgba(0, 0, 0, 0.2);
	border-right : 10px solid rgba(255, 255, 255, 0.1);
	color : white;
	font-variant : small-caps;
	text-decoration : none;
	padding : 10px, 15px;
}

#float li a:hover {
	background : #454d59;
	color : #d0d2d5;
}